    <div class="container">
        <h1>Timeline Form</h1>
        <form>

          <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" required  [(ngModel)]="model.title" name="title">
          </div>
     
          <div class="form-group">
            <label for="from">from</label>
            <input type="date" class="form-control" id="from" required  [(ngModel)]="model.from" name="from">
          </div>
     
	 <div class="form-group">
            <label for="to">to</label>
            <input type="date" class="form-control" id="to" required  [(ngModel)]="model.to" name="to">
          </div>

	  <div class="form-group">
            <label for="resume">resume</label>
            <input type="text" class="form-control" id="resume" required  [(ngModel)]="model.resume" name="resume">
          </div>

	 <div class="form-group">
            <label for="topics">topics</label>
            <input type="text" class="form-control" id="topics" required  [(ngModel)]="model.topics" name="topics">
          </div>

	  <div class="form-group">
            <label for="contributions">contributions</label>
            <input type="text" class="form-control" id="contributions" required  [(ngModel)]="model.contributions" name="contributions">
          </div>

	  <div class="form-group">
            <label for="events">events</label>
            <input type="text" class="form-control" id="events" required  [(ngModel)]="model.events" name="events">
          </div>


          <button type="submit" class="btn btn-success">Submit</button>
     
        </form>
    </div>
