<div class="container">
  <div class="timeline-form-container">
    <form class="timeline-form">
      <mat-form-field class="input-full-width">
        <input matInput required [(ngModel)]="timeline.title" name="title">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerBeginDate" placeholder="Date de début" [(ngModel)]="timeline.from"
               name="from">
        <mat-datepicker-toggle matSuffix [for]="pickerBeginDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerBeginDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerEndDate" placeholder="Date de fin" [(ngModel)]="timeline.to" name="to">
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input matInput required [(ngModel)]="timeline.resume" name="resume">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="topics" [formControl]="topics" multiple>
          <mat-select-trigger>
            {{topics.value ? topics.value[0] : ''}}
            <span *ngIf="topics.value?.length > 1" class="example-additional-selection">
        (+{{topics.value.length - 1}} {{topics.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topic of timeline.topics" [value]="topic">{{topic.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
