.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.button-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 14%;
}

.button-bar-item {
  right: 2%;
}

.date-display {
  float: left;
  margin-left: 5%;
  margin-top: 2.5%;
}

.titre {
  font-size: 1.3em;
  font-weight: bold;
}
