<div class="row">
  <div class="col-sm-12">
    <div style="position: fixed; top:100px;">
      {{entries.length}}
    </div>
    <!-- Barre de visualisation des topics de la timeline -->
    <app-topic></app-topic>

    <!-- Bouton de création d'évènement -->
    <app-unshift-event-button
      (unshiftEntry)="unshiftEntry($event)"
    ></app-unshift-event-button>

    <!-- Composant de visualisation d'une Timeline -->

    <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side"
                  class="search-results"
                  infiniteScroll
                  [infiniteScrollDistance]="2"
                  [infiniteScrollUpDistance]="1.5"
                  [infiniteScrollThrottle]="500"  
                  (scrolled)="onScrollDown()">
        <!-- Parcours des évènements d'un timeline -->
        <mgl-timeline-entry *ngFor="let entry of sortedArray; let i = index;" (expand)="onExpandEntry($event, i)">

          <!-- Carte d'évènement sur la timeline -->

          <!-- Point d'ancrage clickable d'un évènement sur la timeline -->
          <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'"
                                  [size]="size"
                                  (click)="onDotClick($event)">
          </mgl-timeline-entry-dot>

          <!-- Header clickable -->
          <mgl-timeline-entry-header (click)="onHeaderClick($event)">
            <div>
              <!-- Bouton d'édition d'un évènement sur une carte évènement -->
              <div class="row button-bar">
                <button mat-button class="button-bar-item" (click)="edit(i)"><mat-icon>edit</mat-icon></button>
              </div>
              <div class="title">{{entry.title}}</div>
            </div>
          </mgl-timeline-entry-header>

          <!-- Affichage de la date de l'évènement-->
          <mgl-timeline-entry-side>
            <div class="date-display">
              <div *ngIf="entry.beginDate">{{entry.beginDate | date:'mediumDate'}}</div>
              <div *ngIf="entry.endDate"> to {{entry.endDate | date:'mediumDate'}}</div>
            </div>
          </mgl-timeline-entry-side>

          <!-- Contenu d'un évènement -->
          <mgl-timeline-entry-content>
            <app-event [event]="entry"></app-event>
          </mgl-timeline-entry-content>

      </mgl-timeline-entry>
    </mgl-timeline>
  </div>
</div>
<app-timeline-form></app-timeline-form>
