.example-container {
  min-height: -webkit-fill-available;
  top: 70px;
}

.example-sidenav-content {

}

.example-sidenav {
  padding: 20px;
  min-width: 30%;
  max-width: 50%;
}

.timeline {
  min-height: -webkit-fill-available;
}

.mat-drawer {
  position: fixed;
  top: 8%;
}

.close-sidebar {
  float: right;
}
